@import "variables";

.title {
  font-size: $font-size-title;
  font-weight: 500;
  text-align: center;
  @media (max-width: $small) {
    font-size: 1.5rem;
  }
  @media (min-width: $small) and (max-width: $large) {
    font-size: 1.8rem;
  }
}

.subtitle {
  font-size: $font-size-subtitle;
  font-weight: 300;
  @media (max-width: $small) {
    font-size: 1.1rem;
  }

  @media (min-width: $small) and (max-width: $large) {
    font-size: 1.3rem;
  }

}

.subsubtitle {
  font-size: $font-size-subsubtitle;
  font-weight: 300;

  @media (max-width: $small) {
    font-size: 1rem;
  }

  @media (min-width: $small) and (max-width: $large) {
    font-size: 1.2rem;
  }
}
