@import 'variables';

.container {
  max-width: 1140px;
  height: 100%;

  &--fluid {
    width: 100%;
  }

  @media (max-width: $xlarge) and (min-width: $large) {
    max-width: 960px;
  }

  @media (max-width: $large) and (min-width: $medium) {
    max-width: 720px;
  }
  @media (max-width: $medium) and (min-width: $small) {
    max-width: 540px;
  }
  @media (max-width: $small) {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
